.div1 {
    background-color: rgba(83, 11, 61, 0.664);
    width: 600px;
    height:600px;
    border-radius: 50px;
}
.text1 {
    color: black;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace; 
    text-align: center;
    background-color: rgba(47, 30, 202, 0.493);
    border-radius: 20%;
}
.text2{
    font-size:20px ;
}


.text3 {
    color: rgba(235, 234, 240, 0.959);
    font-size: 35px;
    font-family: 'Courier New', Courier, monospace; 
    text-align: center;
    background-color: rgb(83, 197, 60);
    border-radius: 50px;
    display: block;
    filter: drop-shadow(0 0 10px #fffdef);


}
body{
    background-color: rgba(20, 113, 189, 0.473);
}