@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&family=Big+Shoulders+Display:wght@700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lexend Deca', sans-serif;
  font-size: 15px;
  background-color: hsl(0, 0%, 95%);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  display: flex;
  max-width: 920px;
  border-radius: 10px;
  overflow: hidden;
  height: 450px;
}

.card {
  padding: 40px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}

.card img {
  width: 64px;
  margin-bottom: 30px;
}

.card h2 {
  font-family: 'Big Shoulders Display', cursive;
  font-size: 36px;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.card p {
  line-height: 1.6;
  margin-bottom: 30px;
  opacity: 0.75;
}

.card a {
    text-decoration: none;
    background-color: white;
    padding: 12px 24px;
    border-radius: 25px;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease;
    display: inline-block;
  }
  
  .sedan a {
    color: hsl(31, 77%, 52%);
  }
  
  .suv a {
    color: hsl(184, 100%, 22%);
  }
  
  .luxury a {
    color: hsl(179, 100%, 13%);
  }
  
  .card a:hover {
    background-color: transparent;
    color: white;
    border: 2px solid white;
  }

.sedan {
  background-color: hsl(31, 77%, 52%);
}

.suv {
  background-color: hsl(184, 100%, 22%);
}

.luxury {
  background-color: hsl(179, 100%, 13%);
}