.container {
    display: flex;
    justify-content: space-between;
    background-color: #f4f4f4;
    padding: 20px;
  }
  
  .parent-div {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    gap: 15px; 
    background-color: #4504be;
    padding: 20px;
}
  