body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
   
    margin: 0;
}

.div1 {
    width: 150px;
    height: 150px;
    background-color: rgb(245, 7, 7);
    transition: width 2s ease-in-out;
}

/* Hover ეფექტი */
.div1:hover {
    width: 300px;
}