*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    text-emphasis: none;
    list-style: none;
}
.header{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 32px 12%;
    background: rgba(196, 8, 221, 0.568);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    
    

}

.logo{
    font-size: 28px;
    color: rgb(53, 9, 94);
    font-weight: 600;
    transition: o.3s ease;
    
}


.navbar a{
    font-size: 17px;
    color: aqua;
    font-weight: 500;
    margin: o 20px;
    transition: o.3s ease;

}

body {
    background: rgba(54, 35, 226, 0.438);
}

