* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5e9db;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 15px;
    padding: 20px;
    max-width: 600px;
    width: 100%;
    margin: 10px;
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.image img {
    width: 100%;
    border-radius: 15px;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

h1 {
    font-size: 29px;
    color: #333;
    margin-bottom: 10px;
}
h1 span{
    font-size: 15px;
    opacity: 60%;
    color: #1a1919;
}

.time-box, .section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px;
    background-color: #f8f0ff;
    border-radius: 10px;
    margin-bottom: 20px;
    opacity: 60%;
}

ul, ol {
    margin-left: 20px;
}

ul li, ol li {
    margin-bottom: 10px;
}

table {
    width: 100%;
    margin-top: 10px;
    border-collapse: collapse;
}

th, td {
    text-align: left;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}
.time-box h2{
    color: rgb(108, 22, 108);
}

.section ol li span{
    color: rgb(19, 19, 19);
}