.parent-div {
    width: 1000px;
    height: 700px;
    background-color: darkblue;
    display: flex;
    justify-content: center;
    align-items: center;
}


.child-div {
    width: 50%;
    height: 50%; 
    background-color: yellow; 
}