.spuare {                           /* ლიმონი */ 
    width: 160px;
    height: 160px;
    background-color:yellow ;
    border-radius: 20px 90px;
}

/* მარწყვი */
.strawberry {
    width: 100px;
    height: 130px;
    background-color: red;
    border-radius: 50% 50% 50% 50% / 90% 90% 40% 40%;
}