@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:rgb(246, 208, 80) ;
}

.container{
    background-color: white;
    border-radius: 27px;
    padding: 25px;
    border-right: 11px solid black;
    border-bottom: 11px solid black;
    border-top: 2px solid black;
    border-left: 2px solid black;


}

.card {
    width: 300px;
    height: 435px;
}

.card-img {
    width: 100%;
    border-radius: 12px;
  
}

.div-text button{
    color: black;
    background-color: hsl(47, 88%, 63%);
    font-weight: bolder;
    border-radius: 4px;
    padding: 5px 10px;
    border: none;
    margin-top: 20px;
}

#date{
    font-size: 16px;
    margin-top: 18px;
}

#main{
    margin-top: 20px;
    color: rgba(0, 0, 0, 0.486);

}

h2{
    margin-top: 15px;

}
.author{
    display: flex;
    align-items: center;
    margin-top: 14px;
}

.author img {
    width: 38px;
    height: 38px;
    margin-right: 16px;
}

.author p {
    font-weight: bolder;
}
