body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.moving-box {
    width: 100px;
    height: 100px;
    background-color: orange;
    position: absolute;
    animation: moveSide 3s infinite alternate ease-in-out;
}

@keyframes moveSide {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(calc(100vw - 100px));
    }
}