.t1{
    color: rgb(255 , 0, 0);
}
.t2{
    color: rgb(0 ,255 , 0);

}
.t3{
    color: rgb(0 , 0, 255);
}
.t4{
    color: rgb(250, 32, 220);
}
.t5{
    color: rgb(255 , 255 , 0 );
}
.t6{
    color: #FF0000;
}
.t7{
    color:#00FF00;

}
.t8{
    color: #0000FF;
}
.t9{
    color: #FF00FF;
}
.t10{
    color: #FFFF00 ;
}
