* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.navbar{

    background:rgb(41, 40, 40); font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-right: 15px; padding-left: 15px;
}
.navdiv{

    display: flex; align-items: center;justify-content: space-between;
}
.logo a{
    font-size: 35px;font-weight: 600;color: white;
}
li{
   list-style: none; display: inline-block;
}
li{
    color: white;font-size: 18px; font-weight: bold;margin-right: 25px;
}
button{
    background-color: rebeccapurple;margin-left: 10px;border-radius: 10px;padding: 10px; width: 90px;
}
button a{
    color: aliceblue;font-weight: bold;font-size: 15px;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: green;
    background-color: green;
    padding: 0 20px;
}


header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px 0;
}

header h1 {
    margin-bottom: 10px;
    font-size: 2.5em;
}

header p {
    font-size: 1.2em;
}


main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
}

.product {
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
    text-align: center;
    width: 300px;
    padding: 20px;
}

.product img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 15px;
}

.product h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.product p {
    font-size: 1.2em;
    color: red;
}


footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}


.button-24 {
    background: #FF4742;
    border: 1px solid #FF4742;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 12px 14px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
  }
  
  .button-24:hover,
  .button-24:active {
    background-color: initial;
    background-position: 0 0;
    color: red;
  }
  
  .button-24:active {
    opacity: .5;
  }