.text1 {
    color: rgba(43, 43, 105, 0.747);
    font-size: 60px;
    font-family: 'Courier New', Courier, monospace; 
    text-align: center;

}
.text2 {
    color: rgba(46, 196, 41, 0.973);
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace; 
    text-align: center;

}
.div1 {
    background-color: rgba(92, 24, 71, 0.664);
    width: 500px;
    height:500px;
    border-radius: 50px;
}
.text3 {
    color: rgba(51, 16, 209, 0.582);
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace; 
    text-align: center;
    background-color: rgb(127, 199, 209);
    border-radius: 50px;
}
.text4 {
    color: rgba(51, 16, 209, 0.582);
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace; 
    text-align: center;
    background-color: rgb(127, 199, 209);
    border-radius: 50px;

}
.text5 {
    color: rgba(51, 16, 209, 0.582);
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace; 
    text-align: center;
    background-color: rgb(127, 199, 209);
    border-radius: 50px;
}
.text6 {
    color: rgba(51, 16, 209, 0.582);
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace; 
    text-align: center;
    background-color: rgb(127, 199, 209);
    border-radius: 50px;


}
.text7 {
    color: rgba(235, 234, 240, 0.959);
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace; 
    text-align: center;
    background-color: rgb(83, 197, 60);
    border-radius: 50px;
    display: block;
    filter: drop-shadow(0 0 10px #fffdef);


}
body{
    background-color: rgba(68, 29, 112, 0.39);
}